@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: gray;
}

.container-child {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

#input {
    border: none;
    outline: none;
    padding: 15px 4px 15px 16px;
    width: 400px;
    font-size: 17px;
    border-radius: 8px;
}

#saveBtn {
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 8px 0px;
    width: 103px;
    font-size: 19px;
    margin-top: 15px;
    cursor: pointer;
    transition: 200ms ease;
}

#saveBtn:hover {
    background: green;
    color: white;
}

#delBtn {
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 9px 0px;
    width: 131px;
    font-size: 19px;
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: 200ms ease;
}

#delBtn:hover {
    background: green;
    color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.list {
    height: 350px;
    margin-bottom: -225px;
    margin-top: 26px;
}

.save-list {
    padding: 12px 0px;
}

li {
    list-style: none;
    text-decoration: none;
    background: white;
    padding: 12px 20px;
    border-radius: 20px;
    font-size: 16px;
    margin: 11px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.delete {
    padding: 0 3px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
}

.delete img {
    width: 28px;
    user-select: none;
}

.actions {
    display: flex;
}

.checked {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}
